
@media (max-width: 900px) { 
	
	.container{
		width: 100% !important;
	}
	
	.footer-container{
		width: 100% !important;
	}
}

body{
    font-size: 15px;
    font-family: 'Arial (Hebrew)', Arial;
    width: 100%;
    margin: auto;
    direction: rtl;
    line-height: 1.1;
}


.main-bg{
	width: 100%;
	background-image:url(../images/img01.jpg);
}


.container{
	width : 900px;
	margin:0 auto;	
}

header {
	width:100%;

}



.logo{
    
   
	float:left;
}


.logo p{
    
		font-size: 3em;
}


nav {
     margin: 0;
     padding: 0;
     float:right;
  	 display:block;	
}

nav ul {
    list-style-type: none;
    padding: 0;
 	float:right;
	width: 100%;
	text-align:center;

}

nav ul li{
	
	display:inline-block;
	vertical-align:middle;
	padding : 5px;
	margin-top: 48px;
}

 nav ul li a{
    color: black;    
    text-transform: uppercase;    
    text-align: center;
	font-size: 0.9em;
 	font-weight: bold;
    text-decoration: none;
    display: block; 
}

 nav ul li a:hover {
	padding : 3px;
	background-image:url(../images/img05.jpg);
	border-radius: 4px;
	color:#fff;
	font-size: 0.9em;
		
}


.main-pic{
	margin-top:10px;
	width: 100%;
	padding-bottom: 5%;
}

.main-pic img{

	width: 100%;
	display:block;
}


.sections{

	display: block;
	width: 100%;
}


.sections ul{

	list-style-type: none;
    padding: 0;
    display: block;	
}

.sections ul li{
	display:inline-block;
	
		
}


.section{
	width: 30%;
	
}

.space{
	width: 4%;
	}


.sec-header{
	color: black;    
    text-transform: uppercase;    
    text-align: left;
	font-size: 1.1em;
 	font-weight: bold;
    text-decoration: none;
}

.sec-big-header{
	color: black;    
    text-transform: uppercase;    
    text-align: left;
	font-size: 1.3em;
 	font-weight: bold;
    text-decoration: none;
}

.sec-main{
	color: black;      
    text-align: left;
	font-size: 0.8em;
    text-decoration: none;
    line-height: 1.5;
}


.section img{

	width:100%;
	display:block;
	margin-bottom: 5px;
		
}

.read-more{
	padding:7px;
	background-image:url(../images/img05.jpg);
	border-radius: 4px;
	display: inline;
	float: left;
}

.read-more a{
	text-align: left;
	color:#fff;;
	font-size: 0.8em;
	
}

.comments{
	padding:7px;
	background-image:url(../images/img05.jpg);
	border-radius: 4px;
	display: inline;
	float: left;
	margin-left: 25px;
}
.comments a{
	text-align: left;
	color:#fff;;
	font-size: 0.8em;
	
}

.welcome{
	width:64%;
	float:left;
}


.categories{
	width:32%;
	float:left;
}


.category{
	list-style-type: none;
    padding: 0;
    display: block;	
}

.category li{
	display:block;
	width:100%;
		
}

.category li a{
    color: black;      
	font-size: 0.9em;
 	font-weight: bold;
    text-decoration: none;
	float:left;
}


.category li img{
	display:block;
	float:left;
	margin-top: 5px;
	margin-right:5px;
}

.space-cw{
	width: 4%;
		float:left;
	}


.footer-header{
	color: #fff;    
    text-transform: uppercase;    
    text-align: left;
	font-size: 1.1em;
 	font-weight: bold;
    text-decoration: none;
}

.footer-main{
	color: #fff;     
    text-align: left;
	font-size: 0.9em;
    text-decoration: none;
    line-height: 1.5;
}



.footer{
	width: 100%;
	background-image:url(../images/img05.jpg);
	display:block;
}


.footer-container{
	width : 900px;
	margin:0 auto;	
}

.sections-footer{

	display: block;
	width: 100%;
}


.sections-footer ul{

	list-style-type: none;
    padding: 0;
    display: block;	
}

.sections-footer ul li{
	display:inline-block;
	
		
}

.sections-w{

	display: inline-block;
	width: 100%;
}


.sections-w ul{

	list-style-type: none;
    padding: 0;
    display: block;	
}

.sections-w ul li{
	display:inline-block;
	
		
}


.line{
	margin-top: 20px;
	margin-bottom: 10px;
}


.clearfix{
	clear:both;
	
}

